{:deps {io.github.babashka/sci.nrepl {:mvn/version "0.0.2"}}
 :tasks
   {babel-build (shell
                  "npx babel src/js --out-dir src/gen")
    babel-watch
      (shell
        "npx babel src/js --out-dir src/gen --watch")
    serve-local (shell
                  "http-server :dir resources/public/")}}
