{:deps {io.github.babashka/sci.nrepl {:mvn/version "0.0.2"}}
 :tasks {:requires ([babashka.fs :as fs])
         build {:depends [clean]
                :task (do (shell "mkdir -p dist")
                          (shell
                            "npx shadow-cljs release app")
                          (shell "script/build.sh"))}
         clean (shell "rm -rf dist")
         deploy {:depends [build]
                 :task (shell "script/deploy.sh")}
         serve-local
           (shell "http-server :dir resources/public/")}}
